<article class="recipe">
  <div class="details">
    <h4>
      <!-- <LinkTo @route="recipe.view" @model={{@recipe}}
        class="menu-find-dinner">{{@recipe.fields.recipeName}}
      </LinkTo> -->
      <a href="/recipe/{{@recipe.pk}}"
        class="menu-find-dinner">{{@recipe.fields.recipeName}}
      </a>
    </h4>
    <div class="recipe description">
      <span>Description:</span> {{@recipe.fields.description}}
    </div>
  </div>
</article>
